.jumbotron {
  background-color: #1A13FF;
  margin-bottom: 0px;
}

.jumbotron .container {
  margin: auto;
}

.jumbotron h1{
  height: 100px;
  font-size: 150px;
  font-family: 'Dancing Script', cursive;
}

.section1 {
   padding-top: 30px;
   padding-left:10px;
   padding-right:10px;
}

.section1 p {
  font-family: 'Roboto Condensed', sans-serif;
}

.section1 .thumbnail {
  background-color:#000000;
}

.section1 .thumbnail p {
  font-family: 'Lato', sans-serif;
  font-weight:normal;
}

.section2 {
   padding-top: 15px;
   padding-left:10px;
   padding-right:10px;
}

.section2 p {
  font-family: 'Roboto Condensed', sans-serif;
}

.section2 .thumbnail {
  background-color:#000000;
}

.section2 .thumbnail p {
  font-family: 'Lato', sans-serif;
  font-weight:normal;
}

.section3 {
   padding-left:10px;
   padding-right:10px;
   padding-bottom:10px;
}

.section3 p {
  font-family: 'Roboto Condensed', sans-serif;
}

.section3 .thumbnail {
  background-color:#000000;
}

.section3 .thumbnail p {
  font-family: 'Lato', sans-serif;
  font-weight:normal;
}


