.jumbotron {
  background-color: #1A13FF;
  margin-bottom: 0px;
}

.jumbotron .container {
  margin: auto;
}

.jumbotron h1{
  height: 100px;
  font-size: 150px;
  font-family: 'Marck Script', cursive;
}

.section1 {
   padding-top: 30px;
}

.section1 p {
  font-family: 'Roboto Condensed', sans-serif;
}

.section1 .thumbnail p {
  font-family: 'Pinyon Script', cursive;
  font-weight:normal;
  font-size:14px;
}
