.jumbotron {
  background-color: #1A13FF;
  margin-bottom: 0px;
}

.jumbotron .container {
  margin: center;
  padding-bottom:70px;
}

.jumbotron h1{
  height: 100px;
  font-size: 150px;
  font-family: 'Indie Flower', cursive;
}

.section1 {
   padding-top: 30px;
}

.section1 p {
  font-family: 'Rancho', cursive;
  font-size: 14px
  font-weight:normal;
}

.section1 .thumbnail p {
  font-family: 'Rancho', cursive;
  font-weight:normal;
  font-size:14px;
}
