.jumbotron {
  background-color: #1A13FF;
  margin-bottom: 0px;
}

.jumbotron .container {
  margin: auto;
}

.jumbotron h1{
  height: 100px;
  font-size: 150px;
  font-family: 'Gloria Hallelujah', cursive;
}

.section1 {
   padding-top: 30px;
}

.section1 p {
  font-family: 'Lato', sans-serif;
  font-size: 14px
  font-weight:normal;
}
