.btn-xl {
  padding: 20px 40px;
  border-color: ;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'Francois One', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #4B0082;
}

.container {
  background-image: url(../img/autumnwoods.jpg);
  opacity: 0.6;
}

#mess {
  height: 108px;
}

h2 {
  font-family: 'Lobster Two', cursive;
  
}

h3 {
  font-family: 'Lobster Two', cursive;
}
