.jumbotron {
  background-color: #1A13FF;
  margin-bottom: 0px;
}

.jumbotron .container {
  margin: auto;
}

.jumbotron h1{
  height: 100px;
  font-size: 150px;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  padding-bottom:15px;
}

.section1 {
   padding-top: 30px;
   padding-left:10px;
   padding-right:10px;
}

.section1 .thumbnail {
  background-color:#000000;
}

.section1 p {
  font-family: 'Cinzel', serif;
  font-weight: normal;
}

.section2 {
   padding-left:10px;
   padding-right:10px;
}

.section2 .thumbnail {
  background-color:#000000;
}

.section2 p {
  font-family: 'Cinzel', serif;
  font-weight: normal;
}

.section3 {
   padding-left:10px;
   padding-right:10px;
}

.section3 .thumbnail {
  background-color:#000000;
}

.section3 p {
  font-family: 'Cinzel', serif;
  font-weight: normail;
  font-size: ;
}

.section4 {
   padding-bottom:15px;
   padding-left:10px;
   padding-right:10px;
}

.section4 .thumbnail {
  background-color:#000000;
}

.section4 p {
  font-family: 'Cinzel', serif;
  font-weight: normal;
}
