.nav li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
}

.#cone {
  
}

.jumbotron {
  background-color: #1A13FF;
  margin-bottom: 0px;
  height: 200px;
}

.jumbotron #ctwo {
  margin: auto;
}

.jumbotron h1{
  font-size: 150px;
  font-family: 'Dancing Script', cursive;
  padding-bottom: 60px;
}

#menu {
  position: fixed;
  left: 0px;
  display: block;
  background-image: "images/cosmic.jpg";
  opacity: 0.6;
}

#menu h3 {
  font-family: 'Marck Script', cursive;
  font-weight: bold;
  font-color: black;
  text-align: center;
  display: block;
}

#cfour {
  background-color: #00008B;
  width: 980px;
}
