.nav li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
}

.#cone {
  
}

.jumbotron {
  background-color: #1A13FF;
  margin-bottom: 0px;
  height: 200px;
  
}

.jumbotron #ctwo {
  
  
}

.jumbotron h1{
  font-size: 150px;
  font-family: 'Dancing Script', cursive;
  height: 150px;
  margin-top: 10px;
  
}

#menu {
  position: fixed;
  left: 0px;
  display: block;
  background-image: url("cosmic.jpg");
  opacity: 0.6;
  border: 1px solid black;
  width: 245px;
}

#menu h3 {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: black;
  text-align: left;
  display: block;
  padding-top: 7px;
  padding-left: 10px;
}

#cfour {
  background-color: #00008B;
  width: 980px;
}
