.nav li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
}

.jumbotron {
  background-color: #1A13FF;
  margin-bottom: 0px;
  height: 150px;
}

.jumbotron .container {
  margin: auto;
}

.jumbotron h1{
  height: 95px;
  font-size: 150px;
  font-family: 'Dancing Script', cursive;
  position: absolute;
  top: 10px;
}

.container {
  position: absolute;
  left: 10px;
  
}
  
.container h3 {
  font-weight: bold;
  
}

.row {
  background-color: #E82DCA;
  width: 300px;
  
}
