.nav li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
}

.#cone {
  
}

.jumbotron {
  background-color: #1A13FF;
  margin-bottom: 0px;
  height: 200px;
}

.jumbotron #ctwo {
  margin: auto;
}

.jumbotron h1{
  font-size: 150px;
  font-family: 'Dancing Script', cursive;
  padding-bottom: 30px;
}

#grimms {
  height: 40px;
  width: 40px;
  text-align: center;
  
  
}

#menu {
  position: fixed;
  left: 0px;
  display: block;
}
