.jumbotron {
  background-color: #1A13FF;
  margin-bottom: 0px;
}

.jumbotron .container {
  margin: auto;
}

.jumbotron h1{
  height: 100px;
  font-size: 150px;
  font-family: 'Amatic SC', cursive;
}

.section1 {
   padding-top: 30px;
}

.section .thumbnail{
  background-color:#000000;
}

.section1 p {
  font-family: 'Lobster Two', cursive;
  font-size:14px;
}
