.nav li {
  display: inline;
}

.jumbotron {
  background-color: #1A13FF;
  font-color: #C5E6E8;
}

.jumbotron .container {
  margin: auto;
}

.jumbotron h1{
  height: 100px;
  font-size: 150px;
  font-color: #C5E6E8;
  font-family: 'Lobster', cursive;
}

.categories {
  display: block;
}
  
