.nav li {
  display: inline;
}

.jumbotron {
  background-color: 1A13FF;
  border: 3px solid #CC0000;
}

.jumbotron .container {
  background-color: #1A13FF;
}

.jumbotron h1{
  height: 300px;
  background-color: #1A13FF;
  font-size: 150px;
  font-color: #B7D1FF;
  font-family: 'Lobster', cursive;
}

.categories {
}
  
