.nav li {
  display: inline;
}

.jumbotron {
  background-color: #1A13FF;
}

.jumbotron .container {
  margin: auto;
}

.jumbotron h1{
  height: 100px;
  background-color: #1A13FF;
  font-size: 75px;
  font-color: #B7D1FF;
  font-family: 'Lobster', cursive;
}

.categories {
}
  
