.nav li {
  display: inline;
}

.jumbotron {
  background-color: #1A13FF;
  margin-bottom: 0px;
}

.jumbotron .container {
  margin: auto;
}

.jumbotron h1{
  height: 100px;
  font-size: 150px;
  font-color: #C5E6E8;
  font-family: 'Lobster', cursive;
}

.categories {
  display: block;
  background-color: #500BFF;
  margin: auto;
  padding-top: 30px;
  border: 1px solid color #000000;
}
  
.categories2 {
  display: block;
  background-color: #500BFF;
  margin: auto;
  padding-top: 30px;
  border: 1px solid color #000000;
}

.categories3 {
  display: block;
  background-color: #500BFF;
  margin: auto;
  padding-top: 30px;
  border: 1px solid color #000000;
}
