.nav li {
  display: inline;
}

.jumbotron {
  background-color: #1A13FF;
  margin-bottom: 0px;
}

.jumbotron .container {
  margin: auto;
}

.jumbotron h1{
  height: 100px;
  font-size: 150px;
  font-family: 'Dancing Script', cursive;
}

.categories {
  display: block;
  background-color: #FFFFFF;
  margin: auto;
  padding-top: 30px;
  border: 1px solid color #000000;
}

.categories p {
  font-family: 'Roboto Condensed', sans-serif;
}
  
.categories2 {
  display: block;
  background-color: #FFFFFF;
  margin: auto;
  padding-top: 30px;
  border: 1px solid color #000000;
}

.categories2 p {
  font-family: 'Roboto Condensed', sans-serif;
}

.categories3 {
  display: block;
  background-color: #FFFFFF;
  margin: auto;
  padding-top: 30px;
  border: 1px solid color #000000;
}

.categories3 p {
  font-family: 'Roboto Condensed', sans-serif;
}
